@font-face {
    font-family: dancingscript;
    src: url(/DancingScript-VariableFont_wght.ttf);
}

*{

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Segoe UI', sans-serif;
  background: #fff;
  color: #333;
}

.imgfour{
  height: 250px;
}

.imgseven{
  height: 320px;

}

.imgfifteen{
  height: 545px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
}

.logo {
  font-family: dancingscript;
  font-size: 50px;
  font-weight: bold;
  line-height: 0.5;
}

span{
    margin-left: 40%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.logo span {
  font-size: 12px;
  font-weight: 400;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #999;
}


.grid {

  column-count: 4;
  column-gap: 15px;
  padding: 0px 60px;
}

.grid img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 8px;
  display: block;
}




@media (max-width: 500px) {

    header{

        flex-direction: column;
    }
    .logo{
      margin-bottom: 10%;
        text-align: center;
    }
    nav{

        display: flex;
        flex-direction: column;
        margin-left: 0;
        text-align: center;
    }

    nav>a{

        margin: 5px;
    }


  .grid {
    column-count: 1;
  }
}
